.DS_Store
dist/electron/*
dist/web/*
node_modules/
src/renderer/common/Environment.js
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
yarn.lock
.vs/*
build/win-unpacked
obj/x86/Debug/project.razor.json
bin/*
obj/*
/package-lock.json
/build/*
!/build/*.*
build/BANCACY*