.DS_Store
dist/electron/*
dist/web/*
build/*
!build/icons
node_modules/
src/renderer/common/Environment.js
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
yarn.lock
.vs/*
build/win-unpacked
obj/x86/Debug/project.razor.json
bin/*
obj/*
/build/icons/btk/256x256.png
/build/icons/btk/icon.icns
/build/icons/btk/icon.ico
/src/renderer/assets/img/btk/logo.png
/package-lock.json
